<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">To Main Page</button>
  </div>

  <div class="info">
    <strong>Posts author</strong>
    <small>10.24.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid assumenda at consequatur consequuntur deserunt est nihil repellat sapiente!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid assumenda at consequatur consequuntur deserunt est nihil repellat sapiente!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid assumenda at consequatur consequuntur deserunt est nihil repellat sapiente!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid assumenda at consequatur consequuntur deserunt est nihil repellat sapiente!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid assumenda at consequatur consequuntur deserunt est nihil repellat sapiente!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid assumenda at consequatur consequuntur deserunt est nihil repellat sapiente!</p>
  </div>
</div>
