<div class="card">
  <div class="card-header">
    <h2>Post title</h2>
    <small>16.10.2020</small>
  </div>

  <div>
    <small>Denis</small>
  </div>

  <button [routerLink]="['/post', 123]" class="btn btn-dark">Open</button>
</div>
