<div *ngIf="editPostForm; else loading">
  <form [formGroup]="editPostForm" (ngSubmit)="submit()">
    <div
      class="form-control"
      [ngClass]="{ invalid: editPostForm.get('title').touched && editPostForm.get('title').invalid }"
    >
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
      <div
        class="validation"
        *ngIf="editPostForm.get('title').touched && editPostForm.get('title').invalid"
      >
        <small *ngIf="editPostForm.get('title').errors.required">
          Title is required
        </small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="editPostForm.invalid || submitted"
    >Update</button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
