<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter to Admin Panel</h2>

<!--  catching error from auth service-->
  <div class="alert alert-danger" *ngIf="auth.error$ | async as authError">
    {{authError}}
  </div>
<!--Checking params "loginAgain" from current route -->
  <div class="alert alert-info" *ngIf="routeMessage">
    {{routeMessage}}
  </div>

  <div
    class="form-control"
    [ngClass]="{ invalid: form.get('email').touched && form.get('email').invalid }"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Email is required
      </small>
      <small *ngIf="form.get('email').errors.email">
        Please enter email correctly
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{ invalid: form.get('password').touched && form.get('password').invalid }"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Password is required
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Minimum length should be
        {{form.get('password').errors.minlength.requiredLength}}
        characters, now you entered
        {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Login</button>
</form>
